@use '../../assets/variables' as *; 

.tag {
    border-radius: 0.25rem;
    max-width: 5rem;
    color:white;
    text-align: center;
    padding: 0.125rem;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

.tag.despesa {
    background-color: $tag-despesa; 
}

.tag.receita {
    background-color: $tag-receita; 
}
