.tag {
    border-radius: 0.25rem;
    max-width: 5rem;
    color:white;
    text-align: center;
    padding: 0.125rem;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

.tag.despesa {
    background-color: rgb(255, 99, 99); 
}

.tag.receita {
    background-color: rgb(113, 201, 113); 
}
